/* vim: filetype=c
 * Copyright (c) 2020, 2023 The ZMK Contributors, Jonathan Wright
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// Prepare the Layers
#define BASE      0
#define SYMBOLS   1
#define NUMBERS   2
#define MEDIA     3
#define SYSTEM    4

// TAP_DANCE settings
#define TAP_SPEED 200

&sk {
    release-after-ms = <2000>;
    quick-release;
};

/ {
  behaviors {

    td_lctrl: tab_dance_left_ctrl {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_LEFT_CTRL";
      #binding-cells = <0>;
      tapping-term-ms = <TAP_SPEED>;
      bindings = <&mt LCTRL CAPSLOCK>, <&caps_word>;
    };

    td_lesc: tab_dance_left_esc {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_LEFT_ESC";
      #binding-cells = <0>;
      tapping-term-ms = <TAP_SPEED>;
      bindings = <&mt LSHIFT ESC>, <&kp CAPSLOCK>;
    };
    td_resc: tab_dance_right_esc {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_RIGHT_ESC";
      #binding-cells = <0>;
      tapping-term-ms = <TAP_SPEED>;
      bindings = <&mt RSHIFT ESC>, <&kp CAPSLOCK>;
    };

    td_llayer: tab_dance_left_layer {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_LEFT_LAYER";
      #binding-cells = <0>;
      tapping-term-ms = <TAP_SPEED>;
      bindings = <&mo NUMBERS &sl NUMBERS>, <&to SYSTEM>;
    };
    td_rlayer: tab_dance_right_layer {
      compatible = "zmk,behavior-tap-dance";
      label = "TAP_DANCE_RIGHT_LAYER";
      #binding-cells = <0>;
      tapping-term-ms = <TAP_SPEED>;
      bindings = <&mo SYMBOLS &sl SYMBOLS>, <&to MEDIA>;
    };
  };

    // -- Overall Keyboard Layout -------------------------------------
    // | 01 | 02 | 03 | 04 | 05 | 06 |  | 07 | 08 | 09 | 10 | 11 | 12 |
    // | 13 | 14 | 15 | 16 | 17 | 18 |  | 19 | 20 | 21 | 22 | 23 | 24 |
    // | 25 | 26 | 27 | 28 | 29 | 30 |  | 31 | 32 | 33 | 34 | 35 | 36 |
    // |              | 37 | 38 | 39 |  | 40 | 41 | 42 |              |
    // ----------------------------------------------------------------

  keymap {
    compatible = "zmk,keymap";

    default_layer {
    // ---------------------------------------------------------------------
    // | TAB      |;: |,< |.> | P | Y |  | F | G | C | R | L |     BKSP |
    // | CTRL     | A | O | E | U | I |  | D | H | T | N | S |      DEL |
    // | LSFT:ESC |'" | Q | J | K | X |  | B | M | W | V | Z | RSFT:ESC |
    //             | META | LWR | SPC |  | ENT | RSE | ALT |
    // ------------------------------------------------------------------
      bindings = <

        &kp TAB
        &kp SEMICOLON
        &kp COMMA
        &kp DOT
        &kp P
        &kp Y
        &kp F
        &kp G
        &kp C
        &kp R
        &kp L
        &kp BSPC

        &td_lctrl
        &kp A
        &kp O
        &kp E
        &kp U
        &kp I
        &kp D
        &kp H
        &kp T
        &kp N
        &kp S
        &kp DEL

        &td_lesc
        &kp SQT
        &kp Q
        &kp J
        &kp K
        &kp X
        &kp B
        &kp M
        &kp W
        &kp V
        &kp Z
        &td_resc

        &kp LMETA
        &td_llayer
        &kp SPACE
        &kp ENTER
        &td_rlayer
        &kp RALT

      >;
    };

    symbols_layer {
    // ------------------------------------------------------------------
    // | ---      |---|---|---|---|---|  |---|---|---|---|---|      --- |
    // | ---      |---|---|---|---|---|  |---|---|---|---|---|      --- |
    // | ---      |---|---|---|---|---|  |---|---|---|---|---|      --- |
    //             | META | LWR | SPC |  | ENT | RSE | ALT |
    // ------------------------------------------------------------------
      bindings = <

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none

        &trans
        &trans
        &trans
        &trans
        &trans
        &trans

      >;
    };

    numbers_layer {
    // ------------------------------------------------------------------
    // | ---      |---|---|---|---|---|  |---| 1 | 2 | 3 | + |        - |
    // | ---      |---|---|---|---|---|  |---| 4 | 5 | 6 | * |        / |
    // | ---      |---|---|---|---|---|  |---| 7 | 8 | 9 | 0 |        = |
    //             |      |     | NML |  | ENT |     |  0  |
    // ------------------------------------------------------------------
      bindings = <

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &kp KP_N1
        &kp KP_N2
        &kp KP_N3
        &kp KP_PLUS
        &kp KP_MINUS

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &kp KP_N4
        &kp KP_N5
        &kp KP_N6
        &kp KP_MULTIPLY
        &kp KP_DIVIDE

        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &kp KP_N7
        &kp KP_N8
        &kp KP_N9
        &kp KP_N0
        &kp KP_EQUAL

        &none
        &none
        &kp KP_NUMLOCK
        &kp KP_ENTER
        &trans
        &kp KP_N0

      >;
    };

    media_layer {
    // ------------------------------------------------------------------
    // | BRI_INC  |---|---|---|---|---|  |---|PRV|P/P|NXT|---|      VLU |
    // | BRI_DEC  |---|---|---|---|---|  |---|---|STP|---|---|      VLD |
    // | BRI_AUTO |---|---|---|---|---|  |---|---|---|RPT|SHF|      MUT |
    //                    |---|---|---|  |---|BCK|---|
    // ------------------------------------------------------------------
      bindings = <

        &kp C_BRIGHTNESS_INC
        &none
        &none
        &none
        &none
        &none
        &none
        &kp C_PREVIOUS
        &kp C_PLAY_PAUSE
        &kp C_NEXT
        &none
        &kp C_VOLUME_UP

        &kp C_BRIGHTNESS_DEC
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &kp C_STOP
        &none
        &none
        &kp C_VOLUME_DOWN

        &kp C_BRIGHTNESS_AUTO
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &kp C_REPEAT
        &kp C_SHUFFLE
        &kp C_MUTE

        &none
        &none
        &none
        &none
        &to MEDIA
        &none

      >;
    };

    system_layer {
    // ------------------------------------------------------------------
    // | OUT_BLE  |BT0|BT1|BT2|BT3|BT4|  |---|---|---|---|---|      --- |
    // | OUT_USB  |BTP|---|---|---|BTN|  |---|---|---|---|---|      --- |
    // | OUT_TOG  |---|---|BTC|---|---|  |---|---|---|---|---|      --- |
    //                    |---|BCK|---|  |---|---|---|
    // ------------------------------------------------------------------
      bindings = <

        &out OUT_BLE
        &bt BT_SEL 0
        &bt BT_SEL 1
        &bt BT_SEL 2
        &bt BT_SEL 3
        &bt BT_SEL 4
        &none
        &none
        &none
        &none
        &none
        &none

        &out OUT_USB
        &bt BT_PRV
        &none
        &none
        &none
        &bt BT_NXT
        &none
        &none
        &none
        &none
        &none
        &none

        &out OUT_TOG
        &none
        &none
        &bt BT_CLR
        &none
        &none
        &none
        &none
        &none
        &none
        &none
        &none

        &none
        &to SYSTEM
        &none
        &none
        &none
        &none

      >;
    };

  };
};

// --------------------------------------------------------------------------------------------
// |      |      |   £  |      |      |   ^  | ---  |   !  |   @  |   $  |   &  |   *  | NONE |
// |      |      |      |      |      |      | ---  |   ~  |   (  |   )  |   {  |   }  |   `  |
// |      |      |      |      |      |      | ---  |   ;  |   <  |   >  |   [  |   ]  |   +  |
// |                    |      | NRML |      | ---  |      | NRML |      |                    |
// --------------------------------------------------------------------------------------------
// |      |      |      |      |      |      | ---  |      |   1  |   2  |   3  |   +  |   -  |
// |      |      |      |      |      |      | ---  |      |   4  |   5  |   6  |   *  |   /  |
// |      |      |      |      |      |      | ---  |      |   7  |   8  |   9  |   0  | ENTR |
// |                    |      | NRML |      | ---  | ENTR | NRML |   0  |                    |
